{% extends "flatpages/default.html" %}
{% load custom_filters %}


{% block user %}
<div class="panel_container">
    {% if user.is_authenticated %}
            <div class="panel_text">
                <p>Добро пожаловать {{ user.first_name }}! (Роль: <a class="role" style="color: #AA72B9">{{ user.role }}</a>)</p>
                <p>Информация о комплектации и технических характеристиках Вашей техники</p>
            </div>
            {% block panel %}
                <div class="panel">
                    <p class="links"><a class="nav-item nav-link" href="{% url 'maintenance' %}">TO</a></p>
                    <p class="links"><a class="nav-item nav-link" href="{% url 'claims' %}">Рекламации</a></p>
                    {% if user.role == 'Manager' %}
                        <p class="links"><a class="nav-item nav-link" href="{% url 'vehicle-create' %}">Создать машину</a></p>
                    {% endif %}
                </div>
            {% endblock %}
    {% else %}
            <div class="unauthorized">
                <p class="links">Внимание! Для доступа к Вашей технике необходима <a style="color: #AA72B9" href="{% url 'login' %}">авторизация</a>.</p>
                <p class="links">Хотите продолжить <a class="" href="{% url 'unauthorized-home' %}">без авторизации</a>?</p>
            </div>
    {% endif %}
</div>
{% endblock %}


{% block vehicles %}
{% if user.is_authenticated %}
        <div class="form_container">
            <form class="my_filter" action="" method="get">
                {{ filterset_vehicle.form.as_p }}
                <input type="submit" value="Search" />
            </form>
        </div>
    {% if vehicles %}
        <div class="big-table">
            <table class="table">
                <thead>
                    <tr>
                        <th style="font-weight:bold">Модель техники</th>
                        <th style="font-weight:bold">Зав. № машины</th>
                        <th style="font-weight:bold">Модель двигателя</th>
                        <th style="font-weight:bold">Зав. № двигателя</th>
                        <th style="font-weight:bold">Модель трансмиссии (производитель, артикул)</th>
                        <th style="font-weight:bold">Зав. № трансмиссии</th>
                        <th style="font-weight:bold">Модель ведущего моста</th>
                        <th style="font-weight:bold">Зав. № ведущего моста</th>
                        <th style="font-weight:bold">Модель управляемого моста</th>
                        <th style="font-weight:bold">Зав. № управляемого моста</th>
                        <th style="font-weight:bold">Договор поставки №, дата</th>
                        <th style="font-weight:bold">Дата отгрузки с завода</th>
                        <th style="font-weight:bold">Покупатель</th>
                        <th style="font-weight:bold">Грузополучатель (конечный потребитель)</th>
                        <th style="font-weight:bold">Адрес поставки (эксплуатации)</th>
                        <th style="font-weight:bold">Комплектация (доп. опции)</th>
                        <th style="font-weight:bold">Сервисная компания</th>
                    </tr>
                </thead>
                {% for vehicle in vehicles %}
                    <tbody>
                        {% if request.user == vehicle.client or request.user == vehicle.serviceCompany.user or request.user.role == 'Manager' %}
                            <tr>
                                <td class="vehicleModelInfo"><p class="article-content"><a href='#' onclick="Info('{{ vehicle.vehicleModel.id }}','{{ vehicle.vehicleModel }}', 'vehicle_model', 'Модель техники')">{{ vehicle.vehicleModel }}</a></p></td>
                                {% if request.user.role == 'Manager' %}
                                    <td><p class="article-content"><a class="nav-item nav-link" href="{% url 'vehicle-update' vehicle.id%}">{{ vehicle.vehicleNumber }} / Редактировать</a></p></td>
                                {% else %}
                                    <td><p class="article-content"><a class="mr-2" style="color:#AA72B9">{{ vehicle.vehicleNumber }}</a></p></td>
                                {% endif %}
                                <td class="engineModelInfo"><p class="article-content"><a href='#' onclick="Info('{{ vehicle.engineModel.id }}','{{ vehicle.engineModel }}', 'engine_model', 'Модель двигателя')">{{ vehicle.engineModel }}</a></p></td>
                                <td><p class="article-content"><a class="mr-2" style="color:#AA72B9" >{{ vehicle.engineNumber }}</a></p></td>
                                <td class="transmissionModelInfo"><p class="article-content"><a href='#' onclick="Info('{{ vehicle.transmissionModel.id }}','{{ vehicle.transmissionModel }}', 'transmission_model', 'Модель трансмиссии')">{{ vehicle.transmissionModel }}</a></p></td>
                                <td><p class="article-content"><a class="mr-2" style="color:#AA72B9" >{{ vehicle.transmissionNumber }}</a></p></td>
                                <td class="driveAxleModelInfo"><p class="article-content"><a href='#' onclick="Info('{{ vehicle.driveAxleModel.id }}','{{ vehicle.driveAxleModel }}', 'drive_axle_model', 'Модель ведущего моста')">{{ vehicle.driveAxleModel }}</a></p></td>
                                <td><p class="article-content"><a class="mr-2" style="color:#AA72B9" >{{ vehicle.driveAxleNumber }}</a></p></td>
                                <td class="steeringAxleModelInfo"><p class="article-content"><a href='#' onclick="Info('{{ vehicle.steeringAxleModel.id }}','{{ vehicle.steeringAxleModel }}', 'steering_axle_model', 'Модель управляемого моста')">{{ vehicle.steeringAxleModel }}</a></p></td>
                                <td><p class="article-content"><a class="mr-2" style="color:#AA72B9" >{{ vehicle.steeringAxleNumber }}</a></p></td>
                                <td><p class="article-content"><a class="mr-2" style="color:#AA72B9" >{{ vehicle.deliveryContract_number_date }}</a></p></td>
                                <td><p class="article-content"><a class="mr-2" style="color:#AA72B9" >{{ vehicle.shipmentDate|date:"d.m.Y" }}</a></p></td>
                                <td><p class="article-content"><a class="mr-2" style="color:#AA72B9" >{{ vehicle.client.first_name }}</a></p></td>
                                <td><p class="article-content"><a class="mr-2" style="color:#AA72B9" >{{ vehicle.consignee }}</a></p></td>
                                <td><p class="article-content"><a class="mr-2" style="color:#AA72B9" >{{ vehicle.deliveryAddress }}</a></p></td>
                                <td><p class="article-content"><a class="mr-2" style="color:#AA72B9" >{{ vehicle.equipment }}</a></p></td>
                                <td class="serviceCompanyInfo"><p class="article-content"><a href='#' onclick="Info('{{ vehicle.serviceCompany.id }}','{{ vehicle.serviceCompany }}', 'service_company', 'Сервисная компания')">{{ vehicle.serviceCompany }}</a></p></td>
                            </tr>
                        {% endif %}
                    </tbody>
                {% endfor %}
           </table>
    {% else %}
        <h2>Машины по Вашему запросу не найдены</h2>
        </div>
    {% endif %}
{% endif %}
{% endblock %}


{% block popup %}
<div class="popup">
     <div class="showInfo" >
        <div class="title_row" style="padding: 50px 0px 50px 0px;">
            Tаблица с данными (выдача результата)<span id="tableName"></span>
        </div>
        <table class="tableVehicles" >
            <tr style="background-color: #163E6C">
                <td style="text-align: center;">id</td>
                <td style="text-align: center;">Наименование</td>
                <td style="text-align: center;">Описание</td>
            </tr>
            <tr>
                <td class="id" style="text-align: center;"></td>
                <td class="name" style="text-align: center;"></td>
                <td class="description" style="text-align: center;"></td>
            </tr>
        </table>
        <div class="tableChangeButtonsContainer">
            <button class="table_button" id="closeInfoPanel">Close</button>
        </div>
     </div>
</div>
{% endblock %}
